@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Khula');


nav.navbar.navbar-default.navbar-static-top {
    background-color: #1b6d85;

}

a.navbar-brand{
    font-family: Pacifico,sans-serif;
    font-size: 24px;
}

nav.navbar.navbar-default.navbar-static-top a{
    color: white;
}

img.media-object{
    border-radius: 45px;
}
#dropdownimage{
    float: left;
    width: 35px;
    height: 35px;
    position: relative;
    top: -5px;
    left: -5px;
}

ul.dropdown-menu{

    background-color: inherit;
}
ul.dropdown-menu>li>a{
    color: #1b6d85 !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #bababa;
}

.btn-primary {
    background-color: #1b6d85 !important;
}

#searchbox{
    height: 34px;
}

#searchboxbtn{
    height: 34px;
}
.media {
    position: relative;
}
.media-body {
    position: relative;
}
.deletedropdown {
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
}
#drop{
    position: relative;
}

#friendrequestblock {
    position: relative;
    padding-top: 10px;
}

#acceptdeclinebtn {
    position: absolute;
    top: 10px;
    right: 50px;
}